body{
    background-color: rgb(228, 227, 227);
}

.navbar2{
margin-top: -10px;
display: flex;
height: 45px;
background-color: rgb(255, 255, 255);
}

.list-group{
    padding-top:2px;
    padding-right: 40px;
}


.hover1{
    padding-top: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color:#000;
}

.hover1:hover{
    color:  rgb(46, 187, 235);
    padding-bottom:7px;
    border-bottom: 3px solid rgb(46, 187, 235);
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
   color: yellow;
}

.posts0{
width:100%;
}

.posts1{
    width:50%;
}
.posts2{
    width:35%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 19%;
    right:10%;
    padding:10px;
}


.kartu{
    padding-bottom: 30px;
}

.card-text{
    color:  rgb(46, 187, 235);   
}

.clear{
margin-bottom: 10px;
}

.cart{
width:49.5%;
}

.mdl{
    width:49.2%;
}

.kembalian{
    color:red;
}